<div class="dc-about-container">
  <div class="dc-about-item">
    <h2 class="dc-about-title">Description du jeu</h2>
    <div class="dc-about-content">
      Chaque jour, une nouvelle citation chiffrée vous est proposée.<br>
      Déchiffrez-la le plus vite possible et partager votre score avec vos amis !
    </div>
  </div>
  <div class="dc-about-item">
    <h2 class="dc-about-title">Principe du jeu</h2>
    <div class="dc-about-content">
      Le chiffrement réalisé est un alphabet de chiffrement. Chaque lettre de l'alphabet est remplacée par une autre
      lettre.<br>
      Ainsi, tous les A peuvent devenir des X et tous les B des M, par exemple.
    </div>
  </div>
</div>
