<div class="dc-citation-container">
  @if (hasWon) {
    <app-victory citation="{{this.decipherService.citation}}" author="{{this.decipherService.author}}"></app-victory>
  } @else {
    @for (word of cryptedCitationWords; track word; let idxW = $index) {
      <div class="dc-word">
        @for (letter of word; track letter; let idxL = $index) {
          <div class="dc-letter-column">
            @if (alphabet.includes(cryptedCitationWords[idxW][idxL])) {
              <div class="dc-letter-decrypted dc-letter"
                   [class.dc-active-letter]="currWordIdx === idxW && currLetterIdx === idxL"
                   [class.dc-empty-letter]="!correspondanceMap.has(cryptedCitationWords[idxW][idxL])"
                   [class.dc-same-letter]="cryptedCitationWords[currWordIdx][currLetterIdx] === cryptedCitationWords[idxW][idxL] && !(currWordIdx === idxW && currLetterIdx === idxL)"
                   (click)="onClick($event, idxW, idxL)">
                {{ correspondanceMap.get(cryptedCitationWords[idxW][idxL]) }}
              </div>
            } @else {
              <div class="dc-not-letter dc-letter">{{ cryptedCitationWords[idxW][idxL] }}</div>
            }
            <div class="dc-letter-crypted dc-letter">{{ cryptedCitationWords[idxW][idxL] }}</div>
          </div>
        }
        <div class="dc-letter"></div>
      </div>
    }
  }
</div>

